<% provide(:title, "Home") %>
<html>
  <head>
    <title><%= yield(:title) %> | MyNextGenHealth</title>
  </head>
  <body>
    <h1>MyNextGenHealth Home Page</h1>
    <p>This is the home page for the MyNextGenHealth Sample Application. Refer to <a href="http://www.mynextgenhealth.net">www.mynextgenhealth.net</a> for more information.</p>
  </body>
</html>
